@font-face {
    font-family: 'Nosifer';
    src: url('/assets/font/Nosifer/Nosifer-Regular.ttf') format('truetype');
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 53, 42);
    background: radial-gradient(circle, rgb(204, 53, 42) 0%, rgb(214, 197, 197) 100%);
}

h1{
    text-align: center;
    font-family: 'Nosifer';
    color: black;
}

.inventory-table-style{
    border-collapse: collapse;
    width: 80%;
    margin: 10px auto;
    color: white;
}

.inventory-table-style th,
.inventory-table-style td {
    border: 1px solid #cccc;
    padding: 8px;
    text-align: center;
}

.inventory-table-style th{
    background-color: rgb(66, 100, 163);
}

.inventory-table-style tr:hover{
    background-color: rgb(66, 100, 163);
    color: white;
}

.inventory-style-form{
    background-color: rgb(66, 100, 163);
    color: white;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4 px rgba(0, 0, 0, 1);
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input{
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    color: white;
    background-color: rgb(62, 58, 58);
    outline: none;
}

button{
    margin: 2% 2% 2% 2%;
    background-color: rgb(24, 141, 57);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(24, 141, 57);
}