@font-face {
    font-family: 'Griffy';
    src: url('/assets/font/Griffy/Griffy-Regular.ttf') format('truetype');
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(204, 53, 42);
    background: radial-gradient(circle, rgb(204, 53, 42) 0%, rgb(214, 197, 197) 100%);
}

h1{
    text-align: center;
    font-family: 'Griffy';
    color: black;
}

h2{
    text-align: center;
    font-family: 'Griffy';
    color: black; 
}

form{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.inventory-table-style{
    border-collapse: collapse;
    width: 80%;
    margin: 10px auto;
    color: white;
}

.inventory-table-style th,
.inventory-table-style td {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
}

.inventory-table-style th{
    background-color: rgb(56, 74, 109);
}

.inventory-table-style tr:hover{
    background-color: rgb(56, 74, 109);
    color: white;
}

.inventory-style-form{
    align-items: center;
    height: 5px;
    color: white;
    padding: 1px;
    border-radius: 40px;
    margin: 50px;
    box-shadow: 0 2px 4 px rgba(0, 0, 0, 1);
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 1% 1% 2% 1%;

}

input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    color: white;
    background-color: rgb(81, 79, 79);
    outline: none;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1% 1% 2% 1%;
    background-color: rgb(24, 141, 57);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(24, 141, 57);
}

.delete-button{
    background-color: rgb(233, 14, 14);
}

.delete-button:hover{
    background-color: rgb(233, 14, 14);
}

.browser{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 15px;
}


